extends base

block title
	title=  post.title + " - " + site.title

block content
	.post.post-page
		h1.post-title= post.title
		.post-meta 发表于{{post.date.format('%Y年%m月%d日')}}&nbsp;阅读{{post.visits}}次
		.post-content
			if post.toc
				.affix(title="按下可拖动")
      				h4 目录
                        i （按下可拖动）
      				| {{ post.toc }}
      		| {{post.content}}
            p.expire-tips

		if post.tags
			.tags
				for tag in post.tags
					a(href="/tag/{{tag}}")= tag

		include include/comments.jade
	script
		function addClass1(ele,cls) {
		  ele.className = cls;
		}
		addClass1(document.getElementById("nav_blog"), "current");
        var _move = false; //移动标记
        var _x, _y; //鼠标离控件左上角的相对位置
        $(".affix").click(function () {
                // alert("click");
                //点击（松开后触发）
            }).mousedown(function (e) {
                //alert("111");
                //alert(_move);
                _move = true;
                _x = e.pageX - parseInt($(this).position().left);
                _y = e.pageY - parseInt($(this).position().top);
                $(".affix").fadeTo(20, 0.5); //点击后开始拖动并透明显示
            });
            $(document).mousemove(function (e) {

                if (_move) {
                    var x = e.pageX - _x; //移动时根据鼠标位置计算控件左上角的绝对位置
                    var y = e.pageY - _y;
                    $(".affix").css({
                        top: y,
                        left: x
                    }); //控件新位置
                }
            }).mouseup(function () {
                _move = false;
                $(".affix").fadeTo("fast", 1); //松开鼠标后停止移动并恢复成不透明
            });
            var postDate = "{{post.date.format('%Y-%m-%d')}}";
            var time = parseInt((new Date().getTime() - new Date(postDate).getTime())/1000/60/60/24);
            if(time>180){
                $('.expire-tips').text('提醒：本文发表于'+time+'天前，文中所描述的信息可能已发生改变，请谨慎使用。').show()
            }