/**
 *
 * @package Maupassant
 * @author cho
 * @version 2.0
 * @link http://chopstack.com
 */

body {
    background-color: #FFF;
    color: #444;
    font-family: "TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
}

.body_container {
    padding: 0 60px;
    max-width: 1150px;
    margin: 0 auto;
}

.content_container {
    padding-right: 50px;
    padding-top: 20px;
}

#fb_comments_container {
    margin-top: 35px;
    padding-top: 20px;
    border-top: 1px solid rgba(150, 150, 150, 0.2);
}

a,
button.submit {
    color: #6E7173;
    text-decoration: none;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

a:hover,
a:active {
    color: #444;
}

a:focus {
    outline: auto;
}

.clear {
    clear: both;
}

#header {
    padding: 58px 0 0;
    text-align: left;
    border-bottom: 1px solid #ddd;
    position: relative;
    .site-name {
        margin-bottom: 40px;
        height:88px;
        #logo {
            font-family: 'Roboto Slab',serif;
            color: #fff;
            text-decoration: none;
            span,
            &:hover {
               color: #fff;
            }
        }
        .description {
            margin: .2em 0 0;
            color: #999;
        }
    }
    #nav-menu {
        margin: 10px 0 -1px;
        padding: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        a {
            display: inline-block;
            padding: 1px 20px 0;
            height: 30px;
            line-height: 30px;
            color: #444;
            font-size: 13px;
            border: 1px solid transparent;
            &:hover {
                border-bottom-color: #444;
            }
            &.current {
                border: 1px solid #ddd;
                border-bottom-color: #fff;
            }
        }
    }
}

#sidebar {
    border-left: 1px solid #ddd;
    padding-left: 35px;
    margin-top: 45px;
    padding-bottom: 20px;
    word-wrap: break-word;
    .widget {
        margin-bottom: 30px;
        .widget-title {
            color: #6E7173;
            line-height: 2.7;
            margin-top: 0;
            font-size: 16px;
            border-bottom: 1px solid #ddd;
            display: block;
            font-weight: bolder;
        }
        .widget-title:before{
            font-weight: initial;
        }
        ul {
            list-style: none;
            padding: 0;
            li {
                margin: 5px 0;
                line-height: 1.5;
            }
        }
    }
    #search {
        position: relative;
        overflow: hidden;
        input {
            padding: 12px 30px 11px 15px;
            line-height: 1.5;
            border: 1px solid #ddd;
            width: 100%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            outline: none;
        }
    }
}


/* title for search result or tagged posts*/

.label-title {
    margin-top: 1.1em;
    font-size: 20px;
    font-weight: normal;
    color: #888;
}

.post {
    padding: 25px 0 15px;
    .post-title {
        margin: 0;
        color: #555;
        text-align: left;
        font: bold 25px/1.1 "ff-tisa-web-pro", Cambria, "Times New Roman", Georgia, Times, sans-serif;
        a {
            color: #555;
        }
    }
    .post-meta {
        padding: 0;
        margin: 9px 0 0;
        color: #999;
        text-align: left;
        display: block;
        text-indent: .15em;
    }
    .post-content {
        font-size: 15px;
        line-height: 1.77;
        color: #444;
        padding-top: 27px;
        overflow: hidden;
        h2,
        h3 {
            margin: 1.4em 0 1.1em;
        }
        p {
            margin: 0 0 1.234em;
            code {
                display: inline;
                margin: 0 5px;
                padding: 3px 5px;
                border: 1px solid #ddd;
            }
            a {
                padding-bottom: 2px;
                border-bottom: 1px solid #aaa;
                word-break: break-all;
                &:hover {
                    border-bottom-color: #444;
                }
            }
        }
        hr {
            margin: 2.4em auto;
            border: none;
            border-top: 1px solid #eee;
            position: relative;
        }
        img {
            max-width: 100%;
            padding: 1em 0;
        }
        ul,
        ol {
            overflow: auto;
            padding: .5em 2.4em;
            border-radius: 3px;
            margin: 1em 0;
            li {
                text-indent: .5em;
            }
            ul {
                margin: 0;
            }
        }
        table {
            margin: 2em 0;
        }
    }
    .tags {
        padding-bottom: 1em;
        a {
            margin-right: .5em;
            &:before {
                content: '#';
                display: inline-block;
            }
        }
    }
}

.page-navigator {
    border-top: 1px solid #ddd;
    list-style: none;
    margin-top: 25px;
    padding: 25px 0;
    font-size: 14px;
    a {
        display: inline-block;
        height: 25px;
        line-height: 25px;
        padding: 5px 20px;
        border: 1px solid #DDD;
        float: left;
        &.next {
            float: right;
        }
        &:hover {
            border-color: #999;
        }
    }
}

#footer {
    padding: .8em 0 3.6em;
    margin-top: 1em;
    line-height: 1.5;
    color: #999;
    span {
        font-size: .9em;
    }
}


/* for different pages starts*/

.post-archive {
    font-size: 15px;
    line-height: 2;
    padding-bottom: .8em;
    h2 {
        margin: 0;
        font: bold 25px / 1.1 "ff-tisa-web-pro", Cambria, "Times New Roman", Georgia, Times, sans-serif;
    }
    .date {
        padding-right: .7em;
    }
}

#categories {
    padding: 0;
    margin: 0;
    .category {
        margin: 10px 0 20px 0;
        text-align: center;
        a {
            text-align: left;
            display: inline-block;
            border: 1px solid #ddd;
            padding: 20px 40px;
            min-width: 100px;
            h3 {
                margin: 0;
            }
            &:hover {
                border-color: #888;
            }
        }
    }
}


/* for different pages ends*/


/*<middle*/

@media print,
screen and (max-width: 48em) {
    .body_container {
        padding: 0 30px;
    }
    .content_container {
        padding-right: 15px;
    }
    #sidebar {
        display: none;
    }
    #header {
        .site-name {
            margin-bottom: 60px;
            text-align: center;
        }
        #nav-menu a {
            padding: 0 15px;
            line-height: 27px;
            height: 27px;
            font-size: 13px;
        }
    }
}


/*<small*/

@media print,
screen and (max-width: 35.5em) {
    .body_container {
        padding: 0 20px;
    }
    .content_container {
        padding-right: 0;
    }
}

blockquote,
.stressed {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd;
    margin: 0;
}



strong,
b,
em {
    padding: 1px 2px;
    background-color: #fcfcf0;
    font-weight: normal;
}

pre {
    margin: 2em 0;
}

.hidden1 {
    display: none;
}
.post .post-content p code {
    padding: 0;
    font-family: Consolas;
    color: midnightblue;

}

.codehilite code,
.codehilite pre {
    overflow: visible;
    font-size: 14px;
    word-wrap: normal;
    white-space: pre;
    cursor: text;
    border: 0;
    background: url("https://developer.cdn.mozilla.net/static/img/blueprint-dark.fd85a7a074ae.png") top center #fafbfc;
    border-left: 5px solid #558abb;
    color: #4d4e53;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-weight: 400;
    -moz-tab-size: 4;
    tab-size: 4;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    border-radius: 0;
}

.codehilite .nx {
    color: inherit;
}

.codehilite .err {
    color: inherit;
    background-color: inherit;
}

.codehilite .p {
    color: inherit;
}

.codehilite .c1 {
    color: darkgray;
}

.codehilite .o {
    color: inherit;
}

.codehilite .kd,
.codehilite .k,
.codehilite .nb {
    color: #a71d5d;
}

.codehilite .s2,
.codehilite .s1,
.codehilite .s{
    color: #183691;
}

.codehilite .mi {
    color: #0086b3;
}
#ds-thread #ds-reset a.ds-like-thread-button {
    background-image: inherit !important;
    background-color: #fff !important;

}
.codehilite .cp,.codehilite .nt,.codehilite .na {
    color: inherit;
}
 .logo-bg {
        width: 380px;
        height: 220px;
        position: absolute;
        top: 0px;
        left: -70px;
    }

    .logo {
        width: 200px;
        position: absolute;
        left: 3em;
        top: 3em;
        z-index: 100;
    }

    .logo h2 {
        font-size: 0.75em;
        color: #fafafa;
    }

    .hidden{
    display:none
    }
    .tags-left{
        padding-top: 10px;
        font-family: Consolas;
        word-break: break-all;
    }
    .tags-left a{
        display: inline-block;
        margin: 0.3125em;
        padding: 0.125em 0.5125em;
        border: #dbdbdb solid 1px;
    }

    .tags-left a:hover{
        background: #0ABAB5;
        color:#fff;
    }
    #authorInfo {
        overflow: hidden;
        text-align: center;
        padding-top: 2em;
        margin-bottom: 1.5em;
        border-bottom: 1px solid #ccc;
        background-position: left bottom;
        background-repeat: repeat-x;
        -webkit-background-size: 5px auto;
        -moz-background-size: 5px auto;
        background-size: 5px auto;
}


.author-logo {
    width: 148px;
    height: 148px;
    margin: 0 auto;
    background: no-repeat url("img/raclen.jpg") left top;
    -webkit-background-size: 6.875em 6.875em;
    -moz-background-size: 6.875em 6.875em;
    background-size: 148px 148px;
    -webkit-border-radius: 3.4375em;
    border-radius: 100px;
    -webkit-transition: -webkit-transform 2s ease-out;
    -moz-transition: -moz-transform 2s ease-out;
    -o-transition: -o-transform 2s ease-out;
    -ms-transition: -ms-transform 2s ease-out;
    transition: transform 2s ease-out;
}
.author-logo:hover {
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  -o-transform: rotateZ(360deg);
  -ms-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}
@media only screen and (min-width: 1024px){
        .social-list {
        float: none;
        width: auto;
        padding: 0;
        backgroun: #343434;
    }
}

.social-list {
    width: 100%;
    margin: 50 auto;
    overflow: hidden;
    float: left;
    text-align: center;
}
.social-list a:before {
    font-family: "FontAwesome";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.social-list a[title="weibo"]:before {
    content: "\f18a";
}
.social-list a[title="github"]:before {
    content: "\f09b";
}
.social-list a{
    display: inline-block;
    color: #343434;
    font-size: 180%;
    margin: 0.5em;
}
.social-list a:hover {
    color: #0ABAB5;
}
#toTop{
    position:fixed;
    _position:absolute;
    margin-left:500px; /*座标、距离酌情而定*/
    left:50%;
    bottom:30px;
    display:none;
    font-size: 18px;
    border: #999 solid 1px;
    padding: 5px 10px;
    cursor: pointer;
}

